body, html
{ background-color: #EDEDED !important; }
.intro
{
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-bottom: 3.125em;
}
.intro h1
{
	font-weight: 500;
	text-transform: uppercase;
}
.intro h5
{
	text-transform: uppercase;
	background-color: #f5f5f5;
	padding: 0.625em;
	color: #333333;
	display: inline-block;
	font-size: 1.2em;
}
.about .col
{ margin-bottom: 1.5em; }
.about .info
{ text-align: center; }
.about h5
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 0.9375em;
}
.about h6
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2.8125em;
}
.about .card
{ text-align: center; }
.about .card img
{ margin-bottom: 0.9375em; width: 100%; height: 100%; }
.portfolio .col
{	margin: auto; }
.portfolio h5
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 0.9375em;
}
.portfolio h6
{
	text-align: center;
	text-transform: uppercase;
	margin: auto;
}
.portfolio .portfolio-holder
{
	clear: both;
	text-align: center;
}
.portfolio img
{
	width: 100%;
	height: 100%;
	margin-bottom: 0.9375em;
	display: inline-block;
}
.info
{
		text-align: center;
		width: 52%;
		height: 5%;
		padding-top: 2%;
		display: block;
}
.info h5
{
		text-transform: uppercase;
		margin-bottom: 0.9375em;
}
footer
{
	padding-top: 0.5em;
	text-align: center;
	background: #00bfa5;
	position: absolute;
	width: 100%;
	height: 6%;
	margin-top: 5%;
	font-size: 1.125em;
	font-weight: 500;
	color: white;
}
